/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-header {
    background-color: #ae1710;
    font-family: cursive;
    border-radius: 80%;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}



/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.accomodation{
    text-align: center;


background-color: #00ced1;
color: #ffffff;
    padding: 40%;

}
